@model BTH01_MayTinhBoTui.Models.BieuThucToanHocModel

@{
    ViewBag.Title = "TRANG CHỦ";
}

<div class="jumbotron">
    <!--
        Sử dụng HTML Helpers.
        Khai báo một form
    -->
    @using (Html.BeginForm())
    {
        <!--Số thứ nhất-->
        <div class="form-group">
            @Html.Label("Số thứ nhất: ")
            @Html.TextBoxFor(m => m.SoThuNhat, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(m => m.SoThuNhat)
            </span>
        </div>

        <!--Số thứ hai-->
        <div class="form-group">
            @Html.Label("Số thứ hai: ")
            @Html.TextBoxFor(m => m.SoThuHai, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(m => m.SoThuHai)
            </span>
        </div>

        <!--Các phép tính-->
        <div class="form-group">

            <!--Cộng-->
            <input type="submit"
                   class="btn btn-primary"
                   value="+"
                   name="phepTinh" />

            <!--Trừ-->
            <input type="submit"
                   class="btn btn-primary"
                   value="-"
                   name="phepTinh" />

            <!--Nhân-->
            <input type="submit"
                   class="btn btn-primary"
                   value="x"
                   name="phepTinh" />

            <!--Chia-->
            <input type="submit"
                   class="btn btn-primary"
                   value="/"
                   name="phepTinh" />
        </div>

        <!--Kết quả tính toán-->
        <div class="form-group">
            @Html.Label("Kết quả: ")
            @if (Model.ThongBaoLoi != "")
            {
                <span>@Model.ThongBaoLoi</span>
            }
            else
            {
                <span>@String.Format("{0:0.##}", Model.KetQuaTinhToan)</span>
            }
        </div>
    }
</div>